bgi.auth client example.

Logged in {{isAuthenticated()}}.

<button (click)="authenticate()">Authenticate</button>
<button (click)="authenticateSilently()">Authenticate Silently</button>
<button (click)="logout()">Log Out</button>

<router-outlet></router-outlet>
